@* paylaşılan bir yapı olduğu için shared klasörü altında ekleniyor *@

<ul>
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Product" asp-action="Index">Products</a></li>
</ul>

@* ? bu bir partial view *@