@{
    Layout = "_Layout"; 
    @* normalde Admin altında bir shared içinde _Layout dosyası oluşturmasaydık
    bu Layoutu ana layout olarak alacaktı çünkü program admin altında Layout var mı bakıyor
    olmayınca StoreApp altında bakıp alıyordu
    ama admin klasörü altında bir shared içinde layout dosyası varsa ilk oradan alacaktır *@
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Category Index</h3>
</body>
</html>