@* @{
    Layout = "_layout";
} *@

@* 
eğer layoutun boş olmasını istiyorsak layoutu boş olarak tanımlayabiliriz.
Layout = null; şeklinde *@


@*  @model StoreApp.Models.Product artık kullanmaya gerek yok _ViewImports dosyası sayesinde  *@
@model Product

<h3 class="display-4">@Model.ProductName</h3>
<p class="display-6">@Model.Price</p>
@* <a class="btn btn-primary" href="/Product">All Products</a> *@
<div class="btn-group">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i> Home</a>
    <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index"><i class="fa-solid fa-list"></i> Products</a>
</div>

@section Header
{
    <div>
        Only for Get Header 
    </div>

}